
<center>
<p></p>
<p></p>
<h3 class="text-warning">Bogdar Iván Ramírez Hernández</h3>
<p></p>
<p class="text-primary">Login, Signin, Logout, Crud Node.Js Mysql ---> { Json }</p>
<p></p>
<img src="https://mexico.unir.net/wp-content/uploads/2018/07/Unir_2021_logo.svg" alt="UNIR México"/>
</center>
</body>
</html>